global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "backend-flask"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["backend:5000"]


